#projetos{
    display: flex;
    justify-content:center;
    padding-top: 2rem;
    padding-bottom: 3rem;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    width:100%;
  
  .card {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    width:20rem;  
    height: 15rem;
  
  h3 {
    color:#f7a206;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all .3s ease-in-out;

    &:hover {
        color:#8ecae6;
        background-color: #f7a206;
    }
  }
  
  .link {
    width: 100%;
    display: flex;
    flex-direction:column;    
    gap: 0.5rem;  
    }
  
  .imagemProjeto  {    
    :hover {
      transform: scale(1.1);
      transition-duration:  0.2s;
  }
        
  img{
    border: 1px solid;
    width: 15rem;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    }  
  }
  
  .iconeGitHub{
    img{
        margin-bottom:0.5rem;
        width: 2.1rem; 
        }
      }
    }
  }