header {
    .navbar-brand {
        font-size: 2rem;
        transition: all .5s ease-in-out;
        
        &:hover {
            color:#ffb703 !important;
            transform: scale(1.2);
        }
    }

    ul li a {
        text-decoration: none;
        padding: 0.625rem;
        border-radius: 0.5625rem;
        font-weight: bold;
        transition: all .5s ease-in-out;
    
        &:hover {
            color: #8ecae6 !important;
            background: #ffb703;
        }
    }
}